<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <title>Poke App</title>
  </head>
  <body>
    <div class="ability-container">
        <h1 class="ability-name">
            {{name}}
        </h1>

        <div class="ability-effect">
            <h2>Effect</h2>
            <p>
                {{effect}}
            </p>
        </div>   
         
        <div class="ability-effect">
            <h2>Short Effect</h2>
            <p>
                {{shortEffect}}
            </p>
        </div> 
  </div>
  </body>
</html>